{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Регистрация</title>
</head>
<body>
    <div class="container">
        <p class="heading">Регистрация</p>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}   
            {% for field in form %}
                <p>
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </p>
                <div class="form-error">{{ field.errors }}</div>
            {% endfor %}
            <button type="submit">Зарегистрироваться</button>
        </form>
        
    
        <p>У вас уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>  

    </div>
</body>
</html>
