{% extends 'tasks/base.html' %}

{% block content %}
<h1>Добавить новую задачу</h1>


{% if messages %}
  <div>
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Добавить задачу</button>
</form>

{% endblock %}
