{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student task card</title>
</head>
<body>
   <ul>
    <li><a class="active" href="#">Профиль</a></li>
    <li><a href="{% url 'tasks' %}">Задачи</a></li>
    <li><a href="#">Добавить</a></li>
    <lia><a href="{% url 'logout' %}">Выйти</a></lia>
    {% if request.user.is_authenticated %}
    <lia>User: {{ request.user }}</lia>
    {% else %}
    <lia><a href="{% url 'login' %}">Войти</a></lia>
    {% endif %}
   </ul>
   
</body>
</html>